*,
*::after,
*::before {
  box-sizing: border-box;
}

.game {
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(1, 7rem);
  margin: 0;
  display: grid;
  gap: 0.5rem;
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
}

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  color: white;
  user-select: none;
}

.computer-deck {
  background-color: green;
}

.player-deck {
  background-color: blue;
}

.text {
  margin-top: 1rem;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-left: 10px;
  position: relative;
  height: 112px;
  width: 64px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: 0.1rem;
  left: 0.1rem;
}

.card::after {
  bottom: 0.1rem;
  right: 0.1rem;
  transform: rotate(180deg);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbarItem{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarItem:hover{
    background-color: #111;
}
